.main__1 {
  width: 500px;
  margin: 0 auto 10px;
  border: 1px solid;
}
.main-title {
  font-size: 25px;
}
.main__2 {
  width: 500px;
  margin: 0 auto 10px;
  border: 1px solid;
}
.main__3 {
  width: 500px;
  margin: auto;
  border: 1px solid;
}
.img2 {
  width: 100%;
}

.img3 {
  width: 100%;
}

.main__2-name {
  font-size: 20px;
  margin-left: 50px;
  font-weight: bold;
}
.main__2-size {
  font-size: 18px;
  color: rgb(37, 122, 219);
  margin-left: 50px;
  font-weight: 400;
}
.main__2-star {
  margin-left: 50px;
  color: rgb(222, 222, 63);
}
.main__2-buy {
  font-weight: 500;
  margin-left: 50px;
}
.main__3-name {
  margin-top: 10px;
  font-size: 20px;
}
.main__3-size {
  font-size: 18px;
  margin: 10px 0;
}
.main-img1 {
  width: 100%;
}
.block1 {
  width: 800px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
}
.block__name,
.block__storge,
.block__user,
.block__email,
.block__basic {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 20%;
  margin-bottom: 15px;
  background-color: red;
  color: white;
  font-weight: bold;
}
.block__percent {
  display: flex;
  height: 30px;
  width: 80%;
}
.block__20 {
  /* border: 1px solid; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  height: 100%;
  width: 20%;
  background-color: rgb(252, 97, 97);
}
.block__80 {
  background-color: rgb(249, 247, 244);
  width: 80%;
}
.block__storge {
  background-color: #29c0ea;
}
.block__50,
.block__70,
.block__303,
.block__40 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #61dafb;
  width: 50%;
  font-weight: bold;
  color: white;
}
.block__505,
.block__30 {
  width: 50%;
  background-color: rgb(249, 247, 244);
}

.block__user {
  background-color: rgb(243, 243, 25);
}
.block__70 {
  width: 70%;
  background-color: rgb(245, 245, 132);
}
.block__30 {
  width: 30%;
}

.block__email {
  background-color: rgb(28, 187, 7);
}
.block__303 {
  width: 30%;
  background-color: rgb(119, 232, 119);
}

.block__707 {
  width: 70%;
  background-color: rgb(249, 247, 244);
}

.block__basic {
  background-color: rgb(246, 93, 118);
}
.block__40 {
  width: 40%;
  background-color: rgb(246, 160, 174);
}
.block__60 {
  background-color: rgb(249, 247, 244);
  width: 60%;
}
